.wrapper {
  max-width: 30px;
  max-height: 30px;
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
  background: white;
}

.icon {
  --size: 22px;
  width: var(--size);
  height: var(--size);
  object-fit: contain;
}
