.wrapper {
  min-height: 100dvh;
  justify-content: space-between;
  background: var(--chakra-colors-purple-50);
  background-image: url("/public/base.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.wrapper::after {
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 150px;
}

.screen {
  padding: 8px;
  flex: 1 1 auto;
  max-height: 50dvh;
}
