.wrapper {
  min-height: 100dvh;
  justify-content: space-between;
  background: var(--chakra-colors-green-50);
}

.screen {
  flex: 1 1 auto;
  max-height: 50dvh;
  margin-top: 50dvh;
  border-top: 5px solid var(--chakra-colors-green-100);
}

.programs {
  max-width: 50%;
  height: 100%;

  border-right: 5px solid var(--chakra-colors-green-100);
}
