.wrapper {
  padding: 8px 12px;
  background: var(--chakra-colors-gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  min-height: 54px;
  position: relative;
}

.time {
  position: absolute;
  right: 20px;
}
